/**
 * Header
 */
.header_top .header_left .login-register a {
	font-size: 12px;
	line-height: 38px;
	color: #ACACAC;
	display: inline-block;
	padding: 0px 10px;
	transition: all 0.3s ease 0s;
	text-transform: uppercase;
}

.header_top .header_left .login-register a:hover, .header_top .header_left .login-register a.active {
    background-color: #FFF;
    color: #333;
}

/**
 * Google translate
 */
#google_translate_element div {
	height:38px;
	line-height: 34px;
	border: none;
	background-color: #1F232B;
}

#google_translate_element span {
	color: #CCC !important;
  font-family: 'Hind', arial;
  font-size: 12px;
  text-transform: uppercase;
}